<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h1> hello cart page</h1>
    <div>
        {% for i in data %}
        <div>
            <img style="width: 100px; height: 100px;" src="{{media_url}}{{i.img}}" alt=""><br>
        </div>
        <div>
            Product Name:{{i.name}}
        </div>
        <div>
            Dec:{{i.dec}}
        </div>
        <div>
            Price:{{i.price}}
        </div>
        <div>
            Quantity:<input type="number" name="quantity" style="width: 50px;" >
        </div>
        <button><a href="{% url 'delete' pk=i.id %}">Delete</a></button>
        {%endfor%}
        <p> Total Price:Rs {{total_price}}</p>
    </div>

    
</body>
</html>