<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{msg}}
    
    <form action="{% url 'register'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form}}
        <input type="submit" name="submit">
    </form>
    <button><a href="{% url 'showdata' %}"> Show Product </a> </button>
    
     {% endblock%}
    
</body>
</html>